.input__style {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input__field {
  width: 100%;
  background: #ffffff;
  border-radius: 30px;
  border: none;
  height: 64px;
  box-sizing: border-box;
  box-shadow: 0px 15px 40px 5px #ededed;
  padding: 0 20px;
  font-weight: 600;
}
