.button__container {
  width: 100%;
}

.button__shape {
  width: 100%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
}

@media screen and (max-width: 790px) {
  .button__shape {
    height: 50px;
    font-size: 16px;
    line-height: 24px;
  }
}
